<!DOCTYPE html>
<html lang="{{ app.request.locale|split('_')|first|default('fr') }}">
<head>
    <meta charset="utf-8">
    <meta name="robots" content="noindex, noarchive, nosnippet, noodp, noimageindex, notranslate, nocache">
    <meta name="viewport" content="width=device width, initial-scale=1">
    <meta name="author" content="Florian &quot;Ori&quot; Neveu">
    <meta name="generator" content="Io by fnev.eu {{ lune.version }}" />

    {% block stylesheets %}
        {{ encore_entry_link_tags('admin') }}
    {% endblock stylesheets %}

    <title>{% block title %}{{ site_info.name }} | Io{% endblock %}</title>
</head>
<body class="{% block body_classes %}{% endblock %}">
    {{ include('admin/_includes/_navbar.html.twig') }}

    <div class="wrapper">
        {{ include('admin/_includes/_sidebar.html.twig') }}

        <div class="main-panel">
            <div class="main-content">
                <div class="content-wrapper">
                    {% block content %}{% endblock %}
                </div>
            </div>

            {{ include('admin/_includes/_footer.html.twig') }}
        </div>
    </div>

    {{ include('admin/_includes/_flash_messages.html.twig') }}

    {% block javascripts %}
        {{ encore_entry_script_tags('admin') }}
    {% endblock javascripts %}
</body>
</html>
