<footer class="footer">
    <p>
        <a href="#">Page aléatoire</a>
    </p>

    <ul>
        {% for social_network in get_social_networks() %}
            <li>
                <a
                    href="{{ social_network.url }}"
                    title="{{ social_network.title ?: social_network.name }}"
                    aria-label="{{ social_network.name }}"
                    rel="noopener noreferrer"
                    target="_blank"
                    class="ico"
                >
                    <i class="{{ social_network.classIcon }}" role="img"></i>
                </a>
            </li>
        {% endfor %}
    </ul>

    <p class="signature">
        <a href="#">
            Site développé avec <span class="heart">♥&#xFE0E;</span> tout seul comme un grand.
        </a>
    </p>

    <p>
        &copy; {{ ''|date('Y') }} - Florian Neveu
    </p>
</footer>