{% extends 'admin/base_public.html.twig' %}

{% block title -%}
    {{ 'security.login.title'|trans({}, 'admin') ~ ' - ' ~ parent() }}
{%- endblock title %}

{% block content %}
    <h1>
        {{ 'security.login.title'|trans({}, 'admin') }}
    </h1>

    {{ form_start(form, {'attr': {'class': 'form-signin text-center'}}) }}
        <div>
            {{ form_widget(form._username)}}
            {{ form_label(form._username) }}
        </div>
        <div>
            {{ form_widget(form._password)}}
            {{ form_label(form._password) }}
        </div>

        <div>
            <label>
                <input type="checkbox" name="{{ form._remember_me.vars.name }}">
                {{ form._remember_me.vars.label|trans({}, 'admin') }}
                {% do form._remember_me.setRendered %}
            </label>
        </div>

        <button type="submit">
            {{ 'security.login.form.submit'|trans({}, 'admin') }}
        </button>

        <hr class="my-4">

        <small><a href="#" class="text-muted">Mot de passe oublié</a></small>
        <br>
        <br>
        <small>&copy; {{ ''|date('Y') }} - Florian Neveu</small>
    {{ form_end(form) }}
{% endblock content %}
