{% extends 'admin/base.html.twig' %}

{% block title %}SocialNetwork index{% endblock %}

{% block content %}
    <h1 class="text-3xl font-bold underline">SocialNetwork index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Title</th>
                <th>Url</th>
                <th>Enabled</th>
                <th>Position</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for social_network in social_networks %}
            <tr>
                <td>{{ social_network.id }}</td>
                <td>{{ social_network.name }}</td>
                <td>{{ social_network.title }}</td>
                <td>{{ social_network.url }}</td>
                <td>{{ social_network.enabled ? 'Yes' : 'No' }}</td>
                <td>{{ social_network.position }}</td>
                <td>
                    <a href="{{ path('app_admin_social_network_show', {'id': social_network.id}) }}">show</a>
                    <a href="{{ path('app_admin_social_network_edit', {'id': social_network.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_admin_social_network_new') }}">Create new</a>
{% endblock %}
